In MySQL Workbench, the world database is a built-in/sample database.

To use it, simply run:

USE world;


After that, you can verify and work with its tables.

Check available tables
SHOW TABLES;


You will typically see:

city

country

countrylanguage

Example queries using the world database

1. Show all countries

SELECT * FROM country;


2. List all cities in India

SELECT Name, District, Population
FROM city
WHERE CountryCode = 'IND';


3. Show population of each country

SELECT Name, Population
FROM country
ORDER BY Population DESC;


4. Find official languages of India

SELECT Language
FROM countrylanguage
WHERE CountryCode = 'IND'
AND IsOfficial = 'T';


5. Join country and city tables

SELECT c.Name AS Country, ci.Name AS City, ci.Population
FROM country c
JOIN city ci
ON c.Code = ci.CountryCode;


Q.1 : Count how many cities are there in each country?

...> USE world;

SELECT
    c.Name AS Country,
    COUNT(ci.ID) AS Total_Cities
FROM country c
LEFT JOIN city ci
    ON c.Code = ci.CountryCode
GROUP BY c.Name
ORDER BY Total_Cities DESC;
Explanation:
country table contains country details.

city table contains city records.

LEFT JOIN ensures countries with zero cities are also included.

COUNT(ci.ID) counts cities in each country.

GROUP BY c.Name groups results country-wise.

ORDER BY Total_Cities DESC sorts from highest to lowest number of cities.

Sample Output (conceptual):
Country	Total_Cities
China  	363
India	  341
USA	    274

Q.2 : Display all continents having more than 30 countries?

..> USE world;

SELECT
    Continent,
    COUNT(*) AS Number_of_Countries
FROM country
GROUP BY Continent
HAVING COUNT(*) > 30;
Explanation:
USE world; selects the world database.

country table contains all country records.

GROUP BY Continent groups countries continent-wise.

COUNT(*) counts how many countries are in each continent.

HAVING COUNT(*) > 30 filters only those continents with more than 30 countries.

Q.3 List regions whose total population exceeds 200 million.

...> USE world;

SELECT
    Region,
    SUM(Population) AS Total_Population
FROM country
GROUP BY Region
HAVING SUM(Population) > 200000000;
Explanation:
country table contains population data for each country.

SUM(Population) calculates the total population per region.

GROUP BY Region groups countries region-wise.

HAVING SUM(Population) > 200,000,000 filters regions whose population exceeds 200 million.

Example Output (may vary):
Region	                          Total_Population
Southern and Central Asia	          2,000,000,000+
Eastern Asia	                      1,500,000,000+
Southeast Asia	                    500,000,000+

Q.4  Find the top 5 continents by average GNP per country.

...> USE world;

SELECT
    Continent,
    AVG(GNP) AS Avg_GNP
FROM country
WHERE GNP IS NOT NULL
GROUP BY Continent
ORDER BY Avg_GNP DESC
LIMIT 5;
Explanation:
country table contains the GNP for each country.

AVG(GNP) calculates the average GNP per continent.

WHERE GNP IS NOT NULL excludes missing GNP values.

GROUP BY Continent groups data continent-wise.

ORDER BY Avg_GNP DESC sorts from highest to lowest.

LIMIT 5 returns the top 5 continents.

Q.5  Find the total number of official languages spoken in each continent.

...> USE world;

SELECT
    c.Continent,
    COUNT(DISTINCT cl.Language) AS Total_Official_Languages
FROM country c
JOIN countrylanguage cl
    ON c.Code = cl.CountryCode
WHERE cl.IsOfficial = 'T'
GROUP BY c.Continent
ORDER BY Total_Official_Languages DESC;
Explanation:
country table (c) provides continent information.

countrylanguage table (cl) lists languages per country.

IsOfficial = 'T' filters official languages only.

COUNT(DISTINCT cl.Language) counts unique official languages per continent.

GROUP BY c.Continent groups results continent-wise.

ORDER BY sorts by number of official languages.

Example Output (conceptual):
Continent	Total_Official_Languages
Africa	50+
Asia	40+
Europe	30+

Q.6 : Find the maximum and minimum GNP for each continent.

...>USE world;

SELECT
    Continent,
    MAX(GNP) AS Max_GNP,
    MIN(GNP) AS Min_GNP
FROM country
WHERE GNP IS NOT NULL
GROUP BY Continent;
Explanation:
country table contains GNP values.

MAX(GNP) finds the highest GNP in each continent.

MIN(GNP) finds the lowest GNP in each continent.

WHERE GNP IS NOT NULL removes NULL values for accurate results.

GROUP BY Continent groups records continent-wise.

Q.7  Find the country with the highest average city population.

...>USE world;

SELECT
    c.Name AS Country,
    AVG(ci.Population) AS Avg_City_Population
FROM country c
JOIN city ci
    ON c.Code = ci.CountryCode
GROUP BY c.Name
ORDER BY Avg_City_Population DESC
LIMIT 1;
Explanation:
country table (c) contains country names.

city table (ci) contains city populations.

AVG(ci.Population) calculates the average city population per country.

GROUP BY c.Name groups cities by country.

ORDER BY Avg_City_Population DESC sorts from highest to lowest.

LIMIT 1 returns the top country.

Q.8 List continents where the average city population is greater than 200,000.

...> USE world;

SELECT
    c.Continent,
    AVG(ci.Population) AS Avg_City_Population
FROM country c
JOIN city ci
    ON c.Code = ci.CountryCode
GROUP BY c.Continent
HAVING AVG(ci.Population) > 200000;
Explanation:
country table (c) provides continent information.

city table (ci) contains city populations.

AVG(ci.Population) calculates the average city population per continent.

GROUP BY c.Continent groups data continent-wise.

HAVING AVG(ci.Population) > 200,000 filters required continents.

✅ This query correctly lists continents whose average city population exceeds 200,000.

Q.9  Find the total population and average life expectancy for each continent, ordered by average life expectancy descending.

...>> USE world;

SELECT
    Continent,
    SUM(Population) AS Total_Population,
    AVG(LifeExpectancy) AS Avg_Life_Expectancy
FROM country
GROUP BY Continent
ORDER BY Avg_Life_Expectancy DESC;
Explanation:
country table contains population and life expectancy data.

SUM(Population) calculates the total population per continent.

AVG(LifeExpectancy) calculates the average life expectancy per continent.

GROUP BY Continent groups records continent-wise.

ORDER BY Avg_Life_Expectancy DESC sorts continents from highest to lowest average life expectancy.

Q.10 : Find the top 3 continents with the highest average life expectancy, but only include those where the total population is over 200 million.

...>> USE world;

SELECT
    Continent,
    AVG(LifeExpectancy) AS Avg_Life_Expectancy,
    SUM(Population) AS Total_Population
FROM country
GROUP BY Continent
HAVING SUM(Population) > 200000000
ORDER BY Avg_Life_Expectancy DESC
LIMIT 3;
Explanation:
AVG(LifeExpectancy) computes the average life expectancy per continent.

SUM(Population) computes the total population per continent.

HAVING SUM(Population) > 200,000,000 filters continents by population.

ORDER BY Avg_Life_Expectancy DESC sorts by highest average life expectancy.

LIMIT 3 returns the top 3 continents.

✅ This query meets all conditions of the question using the world database.